@charset "UTF-8";

.btn {
    display: inline-block;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: 100;
    margin: 15px 15px;
    cursor: pointer;
}

.btn-full {
    color: #fff;
    background-color: #0097e6;
    transition: all 0.1s linear;
}

.btn-full:hover {
    background-color: #007fbf;
}

/*----------------------------*/
/*Global Navigation Bar*/
/*----------------------------*/

nav {
    height: 65px;
}

/* Hamburger menu */
#menuToggle{
    display: none;
    position: relative;
    top: 17px;
    left: 20px;
    z-index:99;
    
    -webkit-user-select: none;
    user-select: none;
    float: left;
}

#menuToggle .toggle-back {
    display: none;
    position: fixed;
    
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
    overflow: hidden;
    opacity: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    
    transition: opacity: 0.5s linear;
}

#menuToggle input#togglechk{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    outline: none;
    
    cursor: pointer;
    
    opacity: 0;
    z-index: 99;
    
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #404040;
    border-radius: 3px;
    
    z-index: 90;
    
    transform-origin: 4px 0px;
    
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                opacity 0.55s ease;
}

#menuToggle input:hover ~ span{
    background: #00a8ff;
}

#menuToggle span:first-child{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2){
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #404040;
}

#menuToggle input:checked +.toggle-back{
    display: block;
    opacity: 1;
}

#menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked:hover ~span{
    background: #00a8ff;
}

#menu{
    position: absolute;
    width: 300px;
    height: 100vh;
    margin: 0 0 0 -50px;
    padding: 50px;
    padding-top: 60px;
    top:-20px;
    overflow: scroll;

    background: #ffffff;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

#menu a{
    text-decoration: none;
    color: #272727;
    transition: color 0.2s linear;
    cursor: pointer;
}

#menu a:hover{
    color: #00a8ff;
}

#menuToggle input:checked ~ ul {
    transform: none;
}


/* Toggle Menu + dropdown list */
.toggle-business,
.toggle-programming{
    list-style: none;
    display: none;
    opacity: 0;
}

.toggle-business a,
.toggle-programming a{
    font-size: 0.6rem;
}

.list-down{
    margin-left: 12px;
    font-size: 12px;
    vertical-align: center;
}

.list-up{
    margin-left: 12px;
    font-size: 12px;
    vertical-align: center;
}


/* gnb logo + category */

.gnb-logo,
.gnb-search,
.unlogin-nav li{
    float:left;
}

.gnb-logo p {
    display: inline-block;
    font-family: 'Lato';
}

.logo-text {
    float:left;
    font-weight: 400;
    font-size: 30px;
    margin-top: 15px;
    letter-spacing: 3px;
}

.logo-text a:link,
.logo-text a:visited {
    color: #00a8ff;
    text-decoration: none;
}

.dropdown{
    position: relative;
    display: inline-block;
}

.category{
    position: relative;
    font-size: 13px;
    letter-spacing: 0.8px;
    margin-bottom: 0;
}

.dropdown-content {
    margin-left: 15px;
    display: none;
    position: absolute;
    background-color: #2f3640;
    min-width: 180px;
    min-height: 350px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 90;
}

.dropdown-content a {
    color: #fff;
    font-size: 0.7rem;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #404957;
    color: #00a8ff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropbtn:hover .dropbtn{
    background-color: #0085cb;
    cursor: pointer;
}

.dropdown-contentSub {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 180px;
    min-width: 180px;
    min-height: 350px;
    z-index: 99;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown-contentSub a{
    color: #343434;
    text-decoration: none;
    font-size: 0.7rem;
    padding: 12px 16px;
    display: block;
}

.dropdown-contentSub a:hover{
    background-color: #dddddd;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.drop-business,
.drop-programming{
    display: none;
}

/* gnb search bar */

.gnb-search {
    width: 40%;
    height: 30px;
    margin-top: 17px;
}

.gnb-search form {
    width: 100%;
    border: 1px solid #969696;
}

.gnb-search input {
    width: 92%;
    border: 0;
    font-size: 15px;
    line-height: 100%;
    padding: 5px;
    outline: none;
}

.gnb-search button {
    width: 8%;
    padding-top: 5px;
    padding-right: 5px;
    float: right;
    border: 0;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
}

.gnb-search button i{
    color: #777777;
}

/* gnb unlogin list */

.gnb-unlogin-nav{
    float: right;
}

.unlogin-nav{
    list-style: none;
    margin-top: 19px;
}

.unlogin-nav li button{
    border: 0;
    background: #fff;
}

.unlogin-nav li button:focus{
    outline: none;
}

.unlogin-nav li button{
    text-decoration: none;
    color: #000;
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 10px;
    /* margin-left: 40px; */
    text-transform: uppercase;
    cursor:pointer;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
}

.unlogin-nav li button:after{
    display: block;
    content: '';
    border-bottom: 2px solid #00a8ff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.unlogin-nav li button:hover:after,
.unlogin-nav li button:active{
    transform: scaleX(1);
}

.mydrop{
    position: relative;
    display: inline-block;
}

.mydrop-content{
    top: 23px;
    margin-left: 10px;
    padding-top: 10px;
    display: none;
    position: absolute;
    background-color: #fcfcfc;
    min-width: 150px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 99;
}

.mydrop-content a{
    color: #434343;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 13px 16px;
    text-decoration: none;
    display: block;
    vertical-align: center;
}
.mydrop-content i{
	margin-right: 30px;
	font-size: 0.9rem;
	margin-top: 2px;
}

.mydrop-content a:hover{
    background-color: #dddddd;
    border-radius: 5px;
}


.mydrop:hover .mydrop-content{
    display: block;
}

.mydrop-content hr{
	margin: 0;
}

/*----------------------------*/
/* Modal enroll form */
/*----------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 99;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: all .2s linear;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    width: 400px;
}

.is-invisible {
    display: none;
}
.is-visible {
    display: block;
}
.is-open{
    opacity: 1;
}

/* Form navigation */
.form-nav {
    margin: 0 auto;
}

.form-tab {
    width: 45%;
    margin: 0 5px;
    border: 0;
    background: #fff;
    font-size: 18px;
    padding-bottom: 8px;
    outline: none;
}

.form-tab:hover {
    cursor: pointer;
}

/* Form Content */
.form-content {
    text-align: center;
}

.form-content form{
    width: 100%;
}

#api-login {
    width: 90%;
    margin: 25px 0;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    padding: 8px;
    font-size: 0.8rem;
    outline: none;
    transition: box-shadow 0.2s;
}

#api-login:hover{
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(1, 138, 209, 0.5);
}

#api-login img {
    width: 20px;
    height: auto;
    margin: 0;
    margin-left: 8px;
    padding: 0;
    float: left;
}

#form-login hr{
    display: inline-block;
    border: 0.5px solid #e6e6e6;
    width: 33%;
    float: left;
}

#form-login #center-word{
    float: left;
    margin: 0 30px;
    margin-bottom: 25px;
}

#form-login form{
    clear: both;
}
.form-content input{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #000;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 3px;
    font-size: 0.7rem;
    outline: none;   
}

#form-signup p:first-child{
    margin-top: 30px;
}

.form-btn {
    width: 90%;
    border: 0;
    outline: none;
    background-color: #00a8ff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    color: #fff;
    padding: 9px;
    font-size: 0.7rem;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-color 0.2s linear;
    
}

.form-btn:hover{
    cursor: pointer;
    background-color: #009ae8;
}

#form-login a:link,
#form-login a:visited{
    text-decoration: none;
    color: #000;
    font-size: 0.7rem;
    font-weight: 400;
    transition: color 0.2s;
}

#form-login a:hover,
#form-login a:active{
    color: #00a8ff;
}

#form-signup p:last-child{
    color: #000;
    font-size: 0.7rem;
    text-align: left;
}

#form-signup a:link,
#form-signup a:visited{
    color: #00a8ff;
}

.placeholder{
    text-align: left;
    width: 90%;
    margin: 0 auto;
    font-size: 0.7rem;
    transition-timing-function: ease-in;
    transition: transform 0.2s linear;
    -webkit-transition: transform 0.2s linear;
    transform: translate(2px, 25px);
    z-index: 0;
}

@keyframes shake {
    10%, 90% {
        transform: translate(1px, 0);
    }
    20%, 80% {
        transform: translate(-1px, 0);
    }
    30%, 50%, 70% {
        transform: translate(-2px, 0);
    }
    40%, 60% {
        transform: translate(2px, 0);
    }
}

.guide{
    font-size: 0.6rem;
    text-align: left;
    visibility: hidden;
    width: 90%;
    margin: 0 auto;
    padding-top: 7px;
    color: #898989;
    margin-bottom: 7px;
}