@charset "UTF-8";

.link_bar {
  background-color: #353b48;
  height: 30px;
  color: white;
  padding: 30px 0 100px;
}

.link_main,
h2 {
  margin-left: 220px;
}

a:link,
a:visited,
a:hover {
  color: white;
  text-decoration: none;
}

img {
  width: 20%;
    border-radius: 5px;
    margin-bottom: 0;
}
