@charset "UTF-8";

.msg-content{
    background-color: #e6e6e6;
    width: 100%;
    padding: 50px;
}
.msg-box{
    background-color: #fff;
    width: 50%;
    margin: 50px auto;
    padding: 50px;
}

.msg-box h3{
    font-size: 1rem;
}
.msg-box p{
    font-size: 0.8rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.link-btn{
    display: block;
    width: 60%;
    margin: 20px auto;
    text-align: center;
    padding: 12px;
    border: 1px solid #00a8ff;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    color: #00a8ff;
}

.link-btn-full{
    background-color: #00a8ff;
    color: #fff;
}
