@media only screen and (max-width: 1200px){
    .lecture-footer { margin-bottom: 10px; }

    .lecture-footer span, .price{ font-size: 0.7rem; }
    
    .lecture-footer .price{ margin-left: 25px; }
    
    .card-section h2{ font-size: 25px; }
    .logo-text { margin-left: 25px; }
}

@media only screen and (max-width: 1078px){
    .logo-text { margin-left: 50px; }
    #menuToggle { display: block; }
    .gnb-unlogin-nav { display: none; }
    p.category{ display: none; }
    .gnb-search{ 
        float: right;
        min-width: 425px;
        margin-left: 20px;
    }
    nav{
        position: fixed;
        display: block;
        top: 0;
        width: 100%;
        height: 55px;
        z-index: 99;
        background: #fff;
        box-shadow: 0 1px 3px rgba(80, 80, 80, 0.5);
        
    }
    .carousel{ margin-top: 55px; }
    .logo-text{ 
        margin-top: 13px;
        font-size: 25px;
    }
    .gnb-search{ 
        margin-top: 13px;
        height: 25px;
    }
    .carousel-bullet{font-size:20px;}
}

@media only screen and (max-width: 1024px){
    .lecture-main{ 
        min-width: 48%;
        margin: 0 10px 10px 0;
    }
    .thumbnail{ 
        width: 50%;
        height: 100%;
        float: left;
    }
    .lecture-header{ margin-bottom: 40px;}
    .lecture-header h4{ font-size: 0.7rem; }
    .leture-header span{ font-size: 0.6rem;}
    
    .lecture-footer{
        margin-bottom: 3px;
        padding-left: 10px;
    }
    .lecture-footer .price{font-size: 0.7rem;}
}

@media only screen and (max-width: 993px){
    .lecture-main{
        min-width: 195px;
        margin: 10px 20px;
    }
    .thumbnail{
        width: 100%;
        height: auto;
        float: none;
    }
    .lecture-header{ margin-bottom: 25px;}
    .lecture-header h4{ font-size: 0.8rem; }
    .lecture-footer{ margin-bottom: 10px; padding-left: 5px;}
    .lecture-footer .price{ font-size: 0.7rem; margin-left: 110px;}
    
    .section-interview h2 { font-size: 120%; }
    blockquote{ padding: 0; font-size: 60%; }
}

@media only screen and (max-width: 767px){
    .lecture-main{ min-width:500px; }
}

@media only screen and (max-width: 683px){
    .gnb-search{ display: none;}
}

@media only screen and (max-width: 580px){
    .gnb-search{ display: none; }
    .lecture-main{ 
        min-width: 350px;
        height: 120px;
        margin-left: 70px;
    }
    .thumbnail{
        width: 50%;
        height: 100%;
        float: left;    
    }
    .lecture-header h4{font-size: 0.6rem;}
    .lecture-header span { margin-top: 5px; font-size: 0.5rem;}
    .lecture-footer span { font-size: 0.5rem;}
    .lecture-footer .price { font-size: 0.5rem; margin-left: 40px;}
}