@charset "UTF-8";

/*공통 사항*/
/*main color : #00a8ff */

/*----------------------------*/
/*Basic Setup*/
/*----------------------------*/
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
@font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 400; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype'); } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 700; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype') } @font-face { font-family: 'NanumBarunGothic'; font-style: normal; font-weight: 300; src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot'); src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype'); } .nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }


html{
    background-color: #fff;
    color: #555555;
    font-family: 'NanumBarunGothic','Lato', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

/*----------------------------*/
/*Reusable Component*/
/*----------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

/*----------------------------*/
/* Carousel */
/*----------------------------*/

.carousel {
    position: relative;
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    color: #00a8ff;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

/*----------------------------*/
/* Card Section */
/*----------------------------*/

.card-section h2 {
    font-size: 30px;
}

.card-category-sbj {
    color: #00a8ff;
}

.lecture-main {
    width: 25%;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-right: 10px;
    padding: 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s;
}

.lecture-main:hover{
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}

.thumbnail {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 0;
}

.lecture-header h4 {
    width: 100%;
    font-size: 0.8rem;
    margin-left: 10px;
    margin-top: 13px;
}

.lecture-header span {
    display: block;
    font-size: 0.6rem;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 15px;
}

.lecture-footer {
    margin-bottom: 13px;
    margin-left: 5px;
}

.lecture-footer span {
    font-size: 0.8rem;
}

.lecture-footer .starpoint {
    color: #fbc531;
}

.lecture-footer .price {
    display: inline-block;
    float: right;
    margin-left: 50px;
    font-size: 0.8rem;
}

/*----------------------------*/
/* Interview Section */
/*----------------------------*/

.section-interview {
    margin-top: 25px;
    padding-bottom: 40px;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

.section-interview h2 {
    margin-top: 50px;
    width: 100%;
    font-size: 1.5rem;
    word-spacing: 2px;
    text-align: center;
}

.section-interview h2:after{
    display: block;
    height: 3px;
    background-color: #00a8ff;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

blockquote {
    padding: 2%;
    font-style: italic;
    font-size: 90%;
    line-height: 140%;
    position: relative;
    margin-top: 40px;
}

cite {
    display: block;
    font-size: 90%;
    margin-top: 25px;
}

blockquote:before {
    content:"\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -3px;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}