@charset "UTF-8";
*{ padding:0; margin:0;}
html, body{font-family: 'Lato', 'Arial', sans-serif; width:100%;}
section{width:100%;}
a{text-decoration:none;color:black;}
hr{border:solid 1px white;}
/* 카테고리명 */
div#d1{
   width:100%;
   height:302px;
   background:#dedede;
}
p#category_1{font-size:50px;font-weight:bold;padding-top:50px;padding-left:100px;}
p#category_2{font-size:28px;font-weight:bold;padding-left:100px;margin-top:5px;color:#00a8ff;}

/* 메뉴바 */
div#d2{
   width:100%;
   height:50px;  
   background-color:#00a8ff;
   font-weight:bold;
}
#d2 a:hover{color:white;}
.dropdown{margin-top:12px;width:25%;float:left;}
.dropdown .hide{display:none;}
a.menua{margin-left:130px;cursor:pointer; font-size:1.3rem;margin-right:20px;font-weight:bold;}
ul.hide{width:120px;margin-left:120px;list-style:none;background:rgb(63,63,63);margin-top:9px;position:absolute;z-index:99999999;text-align:center;}
ul.hide li a{color:white;font-weight:normal;font-size:1rem;}
ul.hide li{padding:10px;}
ul#list li{margin-top:13px;float:left; margin-right:10%;font-size:1.3rem;list-style:none;}


/* 카드 */
div#cardPlace{width:100%;height:290px;}
p.title{clear:both;font-size:36px;font-weight:bold;margin-top:15px;margin-left:60px;}
div#cardp{width:100%;}
div.card{margin-left:80px;margin-top:15px;float:left;width:18%;height:200px;box-shadow:2px 2px 2px gray;}
ul.cardlist{list-style:none;margin-left:3px;}
li.cli_1{font-size:17px;font-weight:bold;}
li.cli_2{font-size:12px;margin-top:5px;}
li.cli_3{font-size:12px;margin-top:13px;}
p.cp{float:right;clear:both;margin-top:-20px;margin-right:5px;}
img.card-img-top{width:100%; height:60%;}


/* 정렬 */
div#d3{
   width:100%;
   height:50px;
   background:#00a8ff;
}
form.hide{background:rgb(63,63,63);margin-left:100px;display:block;width:400px;position:absolute;z-index:99999999;padding:30px;margin-top:9px;color:white;}
div#check1{float:left;}
div#check2{float:left;clear:both;}
div#check3{float:right;padding-right:30px;}



/* 강좌 리스트 */
div.class{width:100%;padding:15px;padding-left:110px;}
div.image_place{width:20%;height:130px;display:inline-block;}
div.comment{padding:5px;width:70%;height:130px;display:inline-block;float:right;margin-right:100px;}
ul#ulcomment_1{float:left;list-style:none;}
li.co_1{font-size:23px;font-weight:bold;}
li.co_2{font-size:13px;margin-top:15px;}
li.co_3{clear:both;font-size:13px;margin-top:50px;}
ul#ulcomment_2{clear:both;list-style:none;float:right;margin-top:-100px;margin-right:130px;}
li.rco_1{font-size:30px;font-weight:bold;text-align:right}
li.rco_2{font-size:15px;text-align:right;padding-top:10px;}
li.rco_3{font-size:12px;text-align:right;padding-top:8px;}
span.ystar{color:rgb(244,193,80);}
ul.detail li{float:left;margin-left:22px;}
hr.h{margin-left:90px;border:1px solid #dedede;align:center;width:86%;}


/* 페이징처리 */
div#d4{
   width:100%;
   height:110px;
}
div#d4 ul{
   width:350px;
   margin:0 auto;
   list-style:none;
}
div#d4 ul li{float:left;padding:20px;}
a.page-link{border:0;color:#00a8ff;}