@charset "UTF-8";

section{
    width:100%;
    margin: 0;
}
a{
    text-decoration:none;
    color:black;
}
hr{
    border:solid 1px white;
}
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* 카테고리명 */
.category-title{    
    width:100%;
    height:250px;
/*    background: linear-gradient(#0083b0, #00b4db);*/
    background: #f4f4f4;
    margin: 0;
    box-shadow: inset 0px 7px 9px -7px rgba(0,0,0,0.2);
}

p#category-1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.7rem;
    font-weight:bold;
    padding-top:120px;
    padding-left:13%;
}

p#category-2{
    font-size:1.7rem;
    font-weight:bold;
    padding-left:13%;
    margin-top: 10px;
    color:#00a8ff;
}

/* 메뉴바 */
div.category-menu,
.order-courses{
    display: block;
    position: relative;
    width:100%;
    height: 50px;
    background: linear-gradient(0.25turn, #56ccf2, #2f80ed);
    font-weight: bold;
}
.category-menu a,
.order-courses a{
    font-size: 0.9rem;
    color: #2c2c2c;
    transition: color 0.2s ease;
}
.category-menu li:hover a,
.order-courses li:hover a{
    color:#fff;
}

.categories{
    position: relative;
    margin-top: 0;
    height: 100%;
    list-style: none;
    padding-left: 13%;
}

.categories li{
    display: inline-block;
    margin-right: 60px;
    line-height: 50px;
}
#upcat i,
#upcat2 i{
    font-size: 0.7rem;
    margin-left: 10px;
}
.dropdown-upcat,
.dropdown-upcat2{
    display: none;
    position: absolute;
    width: 150px;
    top: 50px;
    left: 180px;
    list-style: none;
    background: #2f3640;
    padding: 0;
    border-radius: 5px;
}

.dropdown-upcat li,
.dropdown-upcat2 li{
    display: block;
    margin: 0;
    padding: 10px 15px;
    line-height: 25px;
    border-radius: 5px;
}

.dropdown-upcat li a,
.dropdown-upcat2 li a{
    color: #fff;
    font-size: 0.7rem;
    font-weight: 300;
}

.dropdown-upcat li:hover
.dropdown-upcat2 li:hover{
    background: #404957;
    cursor: pointer;
}
.dropdown-upcat li:hover a,
.dropdown-upcat2 li:hover a{
    color: #00a8ff;
}

/* 카드 */
.favorite-course{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}
.favorite-course span{color: #00a8ff;}

div.course-card{
    margin:15px 10px 30px 10px;
    float:left;
    width:23%;
    height: 300px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: box-shadow 0.2s linear;
}

.course-card:hover{
    box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}

img.card-img-top{
    width:100%;
    height: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardlist{
    display: block;
    list-style: none;
    margin: 0;
    padding: 10px;
}
.cardlist li{
    display: inline-block;
}

.cli_1{
    font-size: 0.9rem;
    font-weight: bold;
    width: 100%;
    height: 50px;
}
.cli_2{
    font-size: 0.6rem;
    margin-top: 10px;
    width: 100%;
}
.cli_3{
    font-size: 0.7rem;
    margin-top: 30px;
    width: 50%;
}
.starpoint{ color: #fbc531; }
.cp{
    display: inline-block;
    font-size: 0.7rem;
    width: 40%;
    text-align: right;
    padding-left: 50px;
}

/* 강좌 리스트 */
h3.class-title{
    margin: 25px auto 15px auto; 
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

div.class{
    width:100%;
    padding:15px;
    cursor: pointer;
}
div.class:after{
    content:"";
    display: block;
    visibility: visible;
    width: 100%;
    height: 1px;
    margin: 5px auto;
    border: 1px solid #d8d8d8;
}
.class:last-of-type:after{
    display: none;
}

div.image-place{
    width:24%;
    height:160px;
    margin: 0;
    margin-left: 15px;
    display:inline-block;
    float: left;
}
.image-place img{
    width:100%; 
    height: 100%;
    margin: 0;
}
div.comment{
    width:70%;
    height:100%;
    margin: 0;
    display:inline-block;
}
ul#ulcomment_1{
    display: inherit;
    width: 55%;
    height: 100%;
    padding: 0;
    margin: 0 0 0 20px;
    list-style:none;
    float: left;
}
ul#ulcomment_2{
    display: inherit;
    width: 20%;
    height: 100%;
    margin: 0 0 0 20px;
    list-style:none;
    float: right;
}
li.co_1{margin-top:20px;}
li.co_1 a{
    margin: 0;
    font-size:1rem;
    font-weight:400;
}
li.co_2{
    font-size:0.6rem;
    margin-top:15px;
}
.detail{
    padding: 0;
}
ul.detail li{
    display: inline-block;
    margin-right: 20px;
}
li.co_3{
    font-size:0.7rem;
    height: 60px;
}

li.rco_1{
    font-size:1.5rem;
    font-weight:bold;
    text-align:right
}
li.rco_2{
    font-size:0.8rem;
    text-align:right;
}
li.rco_3{
    font-size:0.5rem;
    text-align:right;
}
span.ystar{
    color:rgb(244,193,80);
}


/* 페이징처리 */
.page-index{
   width:100%;
   height:110px;
}

.page-index ul{
    width:50%;
    margin:0 auto;
    list-style:none;
    display: table;
}
.page li:first-of-type{
    margin-left: 70px;
}

.page-index ul li{
	float:left;
    width: 30px;
    height: 30px;
    margin: 15px;
	display: block;
    text-align: center;
}

a.page-link{
    border:0;
    font-size: 1rem;
    color:#00a8ff;
    line-height: 30px;
    vertical-align: middle;
}

.active-page{
    background: #00a8ff;
    border-radius: 5px;
}
.active-page a{
    color: #fff;
}