@charset "UTF-8";

*{ padding:0; margin:0;}
html, body{font-family: 'Lato', 'Arial', sans-serif; width:100%;}
section{width:100%;}
a{text-decoration:none;color:black;}


/* 카테고리명 */
div#d1{
   width:100%;
   height:302px;
   background:#dedede;
}
p#category_1{font-size:50px;font-weight:bold;padding-top:50px;padding-left:100px;}
p#category_2{font-size:28px;font-weight:bold;padding-left:100px;margin-top:5px;color:#00a8ff;}

/* 메뉴바 */
div#d2{
   width:100%;
   height:50px;  
   background-color:#00a8ff;
   font-weight:bold;
}
#d2 a:hover{color:white;}
.dropdown{margin-top:12px;width:25%;float:left;}
.dropdown .hide{display:none;}
a.menua{margin-left:130px;cursor:pointer; font-size:1.3rem;margin-right:20px;font-weight:bold;}
ul.hide{width:120px;margin-left:120px;list-style:none;background:rgb(63,63,63);margin-top:9px;position:absolute;z-index:99999999;text-align:center;}
ul.hide li a{color:white;font-weight:normal;font-size:1rem;}
ul.hide li{padding:10px;}
ul#list li{margin-top:13px;float:left; margin-right:10%;font-size:1.3rem;list-style:none;}

#noco{width:100%;height:576px;}
#nocop{text-align:center;font-size:3.5rem;font-weight:bold;padding-top:176px;}
