@charset "UTF-8";

#msglistbt{
   font-size:0.9rem;
   background:lightgray;
   width:10%;
   text-align:center;
   height: 10%;
   border-radius:20px;
   padding-top:5px;
   margin-top:20px;
   margin-left:3%;
   cursor:pointer;
}
/* 

input:-ms-input-placeholder{color:#a8a8a8;}
input::-webkit-input-placeholder{color:#a8a8a8;}
input:-moz-input-placeholder{color:#a8a8a8;}
 */
#msg1search{
   height:30px;
    width:30%;
   border:1px solid lightgray;
   background:#ffffff;
/*    margin-top:-36px; */
   margin-top: -5%;
   margin-right: 20%;
   float:right;
}

#sinput{
   font-size:0.8rem;
    width:30%;
   border:0px;
   outline:none;
   float:left;
   padding:1%;
}
#sbtn{
   width:50px;
   height:100%;
   border:0;
   background:lightgray;
   outline:none;
   float:right;
   color:#ffffff
}

#chatplace{
	margin-top:2%;
	margin-right:5%;
	margin-left:7%;
	height:99%;
	width: 70%
	
	}

#chp{
	border:1px solid lightgray;
height:83px;
border-bottom:2px solid lightgray;
}
#chatdiv{	
	width:99.6%;

	height:550px;
	overflow:scroll;
	border:1px solid lightgray;}
#cotext{
	width:99.8%;
height:200px;
font-size:1.5rem;}

#sendImage2{
	float:left;
	width:9%;
	height:60px;
	margin-left:21px;
	margin-top:10px;}
#sendName2{
	float:left;
	font-size:2.0rem;
	margin-top:19px;
	margin-left:28px;}
#starbtn2{
	float:left;
	margin-top:15px;
	border:0;
ackground:#ffffff;
font-size:2.0rem;
margin-left:5%;}
#sendDate2{
	float:right;
	font-size:1.0rem;
	margin-top:2%;
	margin-right:20px;}

#cotext :placeholder {
	font-size: 50%;
	padding-left: 1%
}

.msgtooltip {
   background-repeat:no-repeat;
   clear:both;
   float:right;
    background-color: #75a9f0;
/*     color: #ffffff; */
    
    width:55%;
   height:110px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
	content: "";
	margin-right:15%;
/*     position: absolute; */
    z-index: 1;
    right: 100%;
    bottom: 150%;
    left: 50%;

	border: 0px;/* 
    border-width: 5px;
        border-style: solid;
    border-color: black transparent transparent transparent; */
}
/* .msgtooltip .tooltiptext::after
{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;

} */



.rightms{
   background-image:url('/testt/views/mypage/images/00001.png');
   background-repeat:no-repeat;
   clear:both;
   float:right;
   margin-top:5%;
   width:55%;
   height:110px;
}
.leftms{
   background-image:url('/testt/views/mypage/images/00002.png');
   background-repeat:no-repeat;
   clear:both;
   float:left;
   margin-top:3%;
   width:55%;
   height:110px;
}
.rightdate{
   margin-top:2%;
   margin-right:8%;
   font-size:0.7rem;
   float:right;
   clear:both;
   }
.rightco{
	font-size:1.0rem;
	float:left;
	clear:both;
	margin-right:5%;
	margin-left:3%;
	margin-top: -3%;
	
	}

.leftdate{
   margin-top:2%;
   margin-right:10%;
   font-size:0.7rem;
   float:right;
   clear:both;
}
.leftco{
	font-size:1.0rem;
	float:left;
	clear:both;
	margin-right:3%;
	margin-left:7%;
	margin-top: -3%;
}


#subbtn{

   margin-top:10px;
   float:left;
   
   
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	color: #fff;
/* 	padding: 10px 15px; */
	font-size: 0.9rem;
	transition: background 0.1s ease;
	outline: none;
	background: #00a8ff;
	width: 15%;
	height: 35px;
	
}
#rbtn{
   margin-top:10px;
   float:left;
   margin-left:15px;

	cursor: pointer;
	border: 0;
	border-radius: 5px;
	color: #fff;
/* 	padding: 10px 15px; */
	font-size: 0.9rem;
	transition: background 0.1s ease;
	outline: none;
	background: #00a8ff;
	width: 15%;
	height: 35px;
   
}
