@charset "UTF-8";



#eimage{
	float:left;
	width:7%;
	margin-left:30px;
	
	radius: 50%;
	border-radius: 50%
	}
#emailadd{
	margin-left:124px;
	width:70%;
	margin-top:-50px;
	float:left;
	clear:both;
	margin-bottom:20px;
   height:40px;
   border:1px solid lightgray;
   border-radius:5px;

	
	}

#emailadd ::placeholder {
	font-size: 85%;
	padding-left: 10%
} 
	
.note-editor.note-frame{clear:both;margin-left:123px;}
#description{clear:both;}
#ptip{font-size:0.5rem;margin-left:122px;margin-top:-18px;}


.ebtn{
/* 	border:0; 
	background:#55b0d6;
	float:right;
	padding:1%;
	color:white;
	margin-right:16px;
	   border-radius:5px;
	    */
	   	margin-top: 15px;
	cursor: pointer;
	border: 0;
	border-radius: 5px;
	color: #fff;
	padding: 10px 15px;
	font-size: 0.8rem;
	transition: background 0.1s ease;
	outline: none;
	background: #00a8ff;
	   }
.ebtn:hover,
.ebtn:active{
	background: #0097e6;
}
