@charset "UTF-8";

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

section, .left-side, .right-side, ul, li, a{
    margin: 0;
}

.section-top{
    display: block;
    position: relative;
    width: 100%;
    height: 230px;
    background: #f7fcff;
    box-shadow: inset 0 7px 3px -7px rgba(0,0,0,0.2);
}

.section-middle{
    width: 100%;
}

#pannel{
    position: absolute;
    top: 30%;
    left: 10%;
}
.pfimg{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
#teacher-name{
    margin-left: 50px;
    padding-top: 23px;
    letter-spacing: 1px;
}
#teacher-name span{ color: #00a8ff; }

.left-side{
    display: inline-block;
    width: 25%;
    height: 100vh;
    background: #f7fcff;
    border: 0;
}
.right-side{
    display: inline-block;
    padding: 20px;
    padding-left: 40px;
    width: 75%;
    float: right;
    padding-right: 10%;
}

.tmenu{
    list-style: none;
    width: 100%;
    padding-left: 40%;
    padding-right: 30px;
}
.tmenu li{
    margin: 10px auto;
    transition: background 0.1s linear;
}
.tmenu li:first-of-type{
    margin-top: 40px;
}
.tmenu li:hover{
    background:#d0edff;
}
.tmenu li a,
.maghidemenu li a{
    text-decoration: none;
    color: #7c7c7c;
    font-size: 1rem;
    line-height: 50px;
    padding-left: 10px;
    cursor: pointer;
}

.maghidemenu{
	list-style: none;
	padding-left: 10px;
}
.maghidemenu li:first-of-type{
	margin-top: 0;
}


a.active-menu{
    color: #000 !important;
}

.right-side h2{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 30px;
}
