@charset "utf-8";

#center-box{
    margin-top: 200px;
    padding-left: 40px;
    box-sizing: none;
}
#center-box div:nth-child(1){
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 20px
}

#center-box>span{
    margin-left: 40px;    
    font-size: 13px;
    
}
#input-zone{
    margin:30px 0px 0px 20px;
}
#input-zone input{
    font-size: 14px;
    font-weight: 500;
    width: 310px;
    height: 23px;
    border: 0.1px solid gray;
    font-family: inherit; /* 폰트 상속 */
    padding-left: 13px;
    border-radius: 1px;
}
#next-btn{
    margin-left: 15px;
}
#center-box {
    height: 280px;
    width: 40%;
}