@charset "utf-8";

#outline {
    width: 75%;
    min-height: 700px;
    margin: 20px auto;
}
ul {
    padding: 0px;
}

ul li {
    list-style: none;
}

#body_left {
    display: inline-block;
    /*min-height: 400px;
    height: auto;*/
    width: 27%;
    min-height: 500px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    float: left;

}

#body_right {
    display: inline-block;
    width: 72%;
    min-height: 700px;
    margin-left: 3px;
    float: right;
}

#name_zone {
    text-align: left;
    font-weight: 400;
}

#name_zone input[text] {
    font-size: 18px;
    color: #00a8ff;
}

#list {
    background: #f6f6fa;
    border: 0.5px solid gray;
    padding: 10px 5px;
    min-height:400px;
}

#info_zone {
    padding: 1px;
}

div#info_zone>div{
    background: #fff;
    border: 0.5px solid gray;
    height: 35px;
    line-height: 35px;
    margin-top: 5px;
}

#info_zone span {
    color: #00a8ff;
}

/*#1*/


div.sect_name {
    border: 1px solid gray;
    height: 40px;
    line-height: 40px;
    margin: 5px 3px;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
    text-align: left;
    background: #fff;
}


div.sect_name > input {
    float: left;
    height:  inherit;
    padding-left: 10px;
    overflow: inherit;
    width: 78%;
}
#body_left input:hover{
    outline: none;
}
/*input 기본-readOnly*/
#body_left input:read-only{
    border:none;
    color: inherit;
}
/*수정기능 동작중*/
#body_left input{
    background: none;
    color: #e84118;
    border-style: none;
    outline-style: none;
}

div.sect_zone {
    border-top: 1.5px dashed gray;
    margin: 10px 3px 0px 3px;
    padding-top: 8px;
}


.sect_zone li {
    background-color: #fff;
    border: 0.5px solid gray;
    margin: 2px 3px;
    height: 30px;
    line-height: 35px;
    text-align: left;
    padding-left: 20px;
    overflow: hidden;
    font-size: 12px;
}

.sect_zone li > input {
    float: left;
    width: 83%;
    overflow: inherit;
    line-height: inherit;
    padding: 0px;
    height: inherit;
    
}

.sect_name .modi-btn, .sect_name .del-btn {
    line-height: 40px;
    width: 20px;
    height: 20px;
    font-size: 14px;
    margin-right: 1px;

}

.modi-btn, .del-btn {
    float: right;
    width: 10px;
    height: 10px;
    font-size: 14px;
    border: none;
    background: none;
    line-height: 30px;
    cursor: pointer;
    color: #dcdde1;
    opacity: 0.71;
    margin-right: 10px;
}

saveLecture:focus {
    outline: none;
}

.modi-btn:hover,.del-btn:hover {
    color: #192a56;
}

/*-#1*/
.create_nclass {
    margin: 10px 10px;
    height: 30px;
    line-height: 30px;
    border: 1px dashed gray;
}

.create_nsect {
    height: 30px;
    line-height: 30px;
    border: 1px dashed gray;
    margin: 15px 13px 5px 13px;
}

/*---커서---*/
#body_left input:read-only,#lectureIntro,.create_nclass,.create_nsect, li,{
    cursor: position: relative;ter;
}
#saveLecture:hover{
    cursor: pointer;
    
}
.sect_name:hover,ul li:hover, #lectureIntro:hover{
    background: #fefcfc;
    border-color: #ff626f;
    color: #ff626f;
}
.create_nclass:hover,.create_nsect:hover{
        background: #fcfcfa;
    border-color: #487eb0;
    color: #00a8ff;
}

/*---right-page---*/
#blank_zone {
    text-align: left;
    font-size: 18px;

}

#editor {
    text-align: center;
}

.ck-editor__editable {
    min-height: 400px;
    max-height: 600px;
}

.ck.ck-editor {
    min-width: 90%;
}

#document-zone {
    margin-top: 20px;
}

#page-save {
    width: 100%;
}

#saveLecture {
    overflow: hidden;
    box-shadow: 0px;
    border-style: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 400;
    height: 30px;
    width: 100px;
    background: #353b48;
    color: #eef;
    padding: 2px 0px 2px 0px;
    float: right;
    margin-top: 10px;
}
/*body right*/
#videoUploadZone,.wistia_swatch{
    width: 100%;
    min-height: 490px;
    font-size: 10px;
    border: 0.5px solid gray;
    padding: 0px auto;
    text-align: center;
}
#wistia_26_upload_preview{
     font-size: 10px;
}
#videoUploadZone img{
    width: 70px;
    height: 70px;
}
#wistia_26_upload_preview{
    width: inherit;
    height: auto;
}
#w-css-reset{
    height: 360px;
    width: auto;
}


.visibility {
    display: :none;
}
